<!DOCTYPE html>
<html lang="en">
    <head>
        <% include layout %>
    </head>
    <body>
        <div class="alert alert-error">
            <strong>Error!</strong>
            <p>
                It seems you are not signed up. Please signup from <a href="/">here</a>
            </p>
        </div>    
    </body>
</html>

