<ul class="nav nav-list">
    <li id="interviewers"><a href="/dashboard/interviewee">Interviewers<i class="icon-chevron-right"></i></a></li>
    <li id="upcomingInterviews"><a href="/dashboard/interviewee/upcomingInterviews/">Upcoming Interviews<i class="icon-chevron-right"></i></a></li>
    <li id="pastInterviews"><a href="/dashboard/interviewee/pastInterviews">Past Interviews<i class="icon-chevron-right"></i></a></li>
</ul>

