<! DOCTYPE html>
<html>
    <head>
        <% include layout %>
         <!-- TODO: Push this into a separate file -->
         <script type="text/javascript">
            $(document).ready(function() {
                $("#interviewerSettingsId").click(function() {
                    // clear message
                    $('#successLabel').hide(); 
                    $.ajax({
                        type: "POST",
		        url: "/interviewer/" + $('#linkedin_id').attr('data-id'),
	                data: $("#interviewerSettingsFormId").serialize(), // serializes the form's elements.
                        success: function(data) {
                            console.log("Success");
                            $('#successLabel').show();
                        }    
                    });
                    // don't let the event bubble
                    return false;
                }); 
          });
         </script>
    </head>
    <body>
        <% include navbar %>
        <div class="container-fluid">
            <div class="row-fluid">
		<div class="span3">
                    <div class="well sidebar-nav">
			<ul class="nav nav-list">
                            <li class="active"><a href="#">Settings<i class="icon-chevron-right"></i></a></li>
		            <li><a href="#">Upcoming Interviews<i class="icon-chevron-right"></i></a></li>
                            <li><a href="#">Past Interviews<i class="icon-chevron-right"></i></a></li>
                        </ul>
		    </div>
		</div>
                <div class="span9">
                    <form id="interviewerSettingsFormId" class="well">
                        <div id="linkedin_id" data-id="<%= user.id %>"></div>
                        <label>Interview Session Practice Price</label>
                        <div class="input-append">
                            <input type="text" name="price" class="span3" maxlength="2">
                            <span class="add-on">$/hr</span>
                        </div>
                        <label>Programming Languages</label>
                        <textarea name="languages" class="input-xlarge" id="textarea" rows="3" placeholder="Programming Languages you are awesome at!"></textarea>
                        <label>Area of expertise</label>
                        <textarea name="areaOfExpertise" class="input-xlarge" id="textarea" rows="3" placeholder="Areas like Algorithms, Data Structures, Recursion, Graphs, Databases, ..."></textarea>
                        <label>Tell us more about yourself</label>
                        <textarea name="description" class="input-xlarge" id="textarea" rows="3" placeholder="Why are you so awesome at taking interviews? Help interviewees to know more about you."></textarea>
                        <br>
                        <button id="interviewerSettingsId" type="submit" class="btn btn-primary">Submit</button>
                        <span id="successLabel" class="label label-success" style="display:none">Your changes have been submitted!</span>
                    </form>
                </div>
	    </div>
	</div>
   </body>
</html>
