<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
	<div class="container">
	    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	    </button>
	    <a class="brand" href="/">Interv<b>YOU</b>er</a>
	    <div class="nav-collapse collapse">
		<ul class="nav nav-pills">
		    <li class="active">
			<a href="/">Home</a>
		    </li>
		    <li>
			<a href="#about">About</a>
		    </li>
		    <li>
			<a href="#contact">Contact</a>
		    </li>
		</ul>
                <% if (user) {%>
		<li class="dropdown pull-right">
                    <a href="#" class="dropdown-toggle navbar-text" data-toggle="dropdown"> <%= user.displayName.S %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                       <li><a href="/dashboard/<%= user.candidateType.S %>">Dashboard</a></li>
                       <li class="divider"></li>
                       <li><a href="/logout/">Logout</a></li>
                    </ul>
                </li>
                <% } else {%>
		    <a href="/login/" class="btn active pull-right">Sign In</a>
                <% } %>
	    </div>
	</div>
    </div>
</div>


